.padre{
    height: 700px;
    border: solid black 2px;
    /* iniciamos a usar flexbox */
    display: flex;
    /* horizontalmente o eje x  */
    justify-content: flex-end;
    /* verticalmente o eje y  */
    align-items: flex-end;
    /* direccion de mis elementos */
    flex-direction: column;
}

.hijo{
    width: 200px;
    height: 200px;
    border: solid blue 2px;
}